<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
		<h1>This is a page that will show some statistics about Los Angeles</h1>
		<a href="/results">This link will take you to the results page</a>
		<form method="POST" action="/results">
			<h3>Type in a search keyword for GIPHY</h3>
			<input type="text" name="giphy">
			<input type="submit">
		</form>
  </body>
</html>
